@import "./header/navbar.css";
@import "./header/showcase.css";
@import "./header/header.css";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.content {
  min-height: 100vh;
}
