@import "/index/main.css";

.concept {
  padding: 5rem 4rem 4rem 4rem;
}

.concept-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  height: 500px;
  margin-top: 3rem;
  width: 100%;
}

.text-concept_container {
  max-height: 80%;
  width: 80%;
  padding: 2.5rem;
  margin-left: 4rem;
  transition: 2s ease;
  transform: translateY(50%);
  opacity: 0;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-concept_container-active {
  transform: translateY(0);
  opacity: 1;
}

.text-concept_container h1 {
  padding: 1rem 0;
  font-size: 2.5rem;
}

.text-concept_container p {
  line-height: 1.7;
  margin-bottom: 3rem;
}

.concept-image {
  max-width: 650px;
  width: 100%;
  height: 500px;
  margin-left: 2rem;
  margin-top: -1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.concept-image_image-1 {
  max-width: 650px;
  width: 100%;
  height: 500px;
  background-color: thistle;
  box-shadow: var(--box-shadow);
  transition: 2.4s ease;
  transform: translateX(-130%);
  opacity: 0;
}

.concept-image_1-active {
  transform: translateX(0);
  opacity: 1;
}

.concept-image_image-2 {
  min-width: 450px;
  min-height: 325px;
  box-shadow: var(--box-shadow);
  background-color: turquoise;
  margin-left: 250px;
  margin-top: -300px;
  transition: 2s ease-out;
  transform: translateY(50%);
  opacity: 0;
}

.concept-image-2-active {
  transform: translateY(0);
  opacity: 1;
}

.concept-image_image-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.concept-image_image-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-concept_container .btn-container a {
  background-color: var(--box-third);
}

@media (max-width: 1340px) {
  .concept-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-concept_container {
    margin: 0 auto;
  }

  .concept-image {
    margin: 0 auto;
  }
}

@media (max-width: 1500px) {
  .concept-image .image-2 {
    margin-left: 150px;
    margin-top: -220px;
  }
}

@media (max-width: 1200px) {
  .concept-container {
    display: flex;
    height: 850px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-concept_container {
    max-width: 700px;
    height: 400px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 120px;
  }

  .text-concept_container .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .concept-image {
    max-width: 700px;
    height: 400px;
    margin-top: -35px;
  }

  .concept-image_image-2 {
    min-width: 430px;
    min-height: 320px;
    margin-left: 350px;
    margin-top: -250px;
  }

  .text-concept_container h1 {
    margin-top: 1.2rem;
    padding: 0.7rem 0;
    font-size: 2.5rem;
  }

  .text-concept_container p {
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 800px) {
  .concept-image {
    max-width: 700px;
    height: 400px;
    margin-top: -35px;
    margin-bottom: 4rem;
  }

  .concept-image_image-1 {
    max-width: 90%;
    height: 500px;
    background-color: thistle;
    box-shadow: var(--box-shadow);
    transition: 1.3s;
  }

  .concept-image_image-2 {
    max-width: 325px;
    width: 100%;
    min-height: 350px;
    box-shadow: var(--box-shadow);
    background-color: turquoise;
    margin-left: 10%;
    margin-top: -240px;
    transition: 1.3s;
  }

  .text-concept_container h1 {
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
  }

  .text-concept_container p {
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
