@import "../index/main.css";

.concept {
  padding: 5rem 4rem 4rem 4rem;
  background-color: var(--color-white);
}

.concept-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 500px;
  width: 100%;
}

.text-concept_container {
  max-height: 500px;
  width: 100%;
  padding: 2.5rem;
  transition: 2s ease;
  transform: translateY(50%);
  opacity: 0;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.text-concept_container-active {
  transform: translateY(0);
  opacity: 1;
}

.text-concept_container h1 {
  padding: 1rem 0;
  font-size: 2.5rem;
}

.text-concept_container p {
  line-height: 1.7;
  margin-bottom: 3rem;
}

.concept-image {
  width: 100%;
  max-height: 500px;
}

.concept-image_image-1 {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  object-fit: cover;
  /* transition: 2.4s ease;
  transform: translateX(-130%);
  opacity: 0; */
}

.concept-image_1-active {
  transform: translateX(0);
  opacity: 1;
}

.concept-image-2-active {
  transform: translateY(0);
  opacity: 1;
}

.concept-image_image-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.concept-image_image-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.text-concept_container .btn-container a {
  background-color: var(--box-third);
}

@media (max-width: 950px) {
  .concept-container {
    display: flex;
    flex-direction: column;
    height: 700px;
  }

  .text-concept_container h1 {
    padding: 0;
    font-size: 1.7rem;
  }
}

@media (max-width: 475px) {
  .text-concept_container {
    margin-top: 2rem;
    height: 600px;
  }

  .text-concept_container h1 {
    padding: 0;
    font-size: 1.3rem;
  }
}
