@import "../index/main.css";

.light-box__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: none;
  transition: 0.5s;
}

.light-box__content {
  box-sizing: border-box;
  position: fixed;
  max-width: 950px;
  max-height: 600px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.light-box__content .close {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: 2rem;
}

.light-box__content .show-image {
  max-height: 100%;
  max-width: 100%;
  color: antiquewhite;
}

.light-box__content .show-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 10px solid var(--color-white);
}

@media (max-width: 1040px) {
  .light-box__content .close {
    position: absolute;
    top: -30px;
    right: 50%;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.5rem;
  }
}
