@import "../index/main.css";

/*showcase*/
.showcase {
  padding: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: 1.3s;
}

/* .reveal-showcase {
  transform: translateX(0);
} */

.showcase .content-container {
  max-width: 550px;
  padding: 2rem;
}

.letter {
  color: var(--dark-theme);
  font-weight: lighter;
}

.showcase .content-container h1 {
  color: #fff;
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.showcase .content-container p {
  color: #fff;
  font-size: 1.5rem;
}

.reveal {
  overflow: hidden;
}

.reveal-content {
  transform: translateY(100%);
  animation: reveal 1.7s cubic-bezier(1, 0, 0.3, 0.9) forwards;
}

.reveal:nth-child(2) .reveal-content {
  animation-delay: 0.6s;
}

.reveal:nth-child(3) .reveal-content {
  animation-delay: 1.2s;
}

.reveal:nth-child(4) .reveal-content {
  animation-delay: 1.6s;
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px) {
  .showcase {
    position: absolute;
    top: 150px;
    left: 0;
    transform: translateX(0);
    transition: 1s;
  }

  .showcase-hidden {
    transform: translateX(-120%);
  }

  .showcase .content-container h1 {
    font-size: 3.5rem;
  }
}
