.idea {
  padding: 3rem 3rem;
  z-index: 0;
  background-color: rgb(245, 253, 253);
}

.grid-container {
  display: grid;
  color: #333;
  font-size: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-box {
  padding: 2.5rem;
  margin: 1rem;
  color: var(--color-white);
  background-color: #a6d1b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box-2 {
  background-color: #98d7c2;
}

.box-3 {
  background-color: #54aeaf;
}

.box-4 {
  background-color: #6ad2e2;
}

/* animation */
.reveal-idea {
  overflow: hidden;
}

.reveal-hidden {
  display: none;
}

.reveal-content_idea {
  transform: translateY(100%);
  animation: reveal-idea 1.2s cubic-bezier(0.34, 0.34, 0.6, 1) forwards;
}

.reveal-idea:nth-child(2) .reveal-content_idea {
  animation-delay: 0.5s;
}
.reveal-idea:nth-child(3) .reveal-content_idea {
  animation-delay: 1.2s;
}

.reveal-idea:nth-child(4) .reveal-content_idea {
  animation-delay: 1.7s;
}

@keyframes reveal-idea {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
