@import "../aboutComponents/mainHeader.css";
@import "../aboutComponents/navbar.css";
@import "../aboutComponents/history.css";
@import "../aboutComponents/aboutLastestNews.css";

@import "../aboutComponents/footer.css";

:root {
  --color-white: #fff;
  --color-black: #202020;

  --box-first: #a6d1b3;
  --box-second: #98d7c2;
  --box-third: #54aeaf;
  --box-forth: #6ad2e2;

  --main-color: white;
  --second-color: #333652;

  --main-theme: #e1ad01;
  --body-theme: #f0ffff;

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --border-radius: 3px;

  --font-color: #202020;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-theme);
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

body.active {
  background-color: rgb(17, 14, 14);
  --font-color: #fff;
  --main-color: #e1ad01;
  --box-second: #2d92cc;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  color: var(--main-color);
  background-color: var(--box-third);
  padding: 1rem 3rem;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: var(--box-shadow);
}

.btn:hover {
  background-color: var(--second-color);
  color: var(--color-white);
}

.btn-icon {
  font-size: 1.3rem;
  height: 3.2rem;
  width: 3.2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--main-theme);
  color: #fff;
}

.hidden {
  opacity: 0;
}

/* resposive */
@media (max-width: 800px) {
  .btn {
    padding: 0.5rem 3rem;
    border-radius: 100px;
    font-size: 1rem;
  }

  .showcase-hidden {
    transform: translateX(-120%);
  }
}
