@import "../pictureIndex/pictureMain.css";
.gallery {
  padding: 4rem 4rem;
}

.gallery-container {
  position: relative;
  column-count: 4;
  padding: 20px 5px;
}

.gallery-h1 {
  text-align: center;
}

.gallery-h1 h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.light-box__img {
  display: inline-block;
  margin: 5px 0;
  overflow: hidden;
  transform: translateY(70%);
  opacity: 0;
  transition: ease 1.3s;
}

.show-lightbox {
  transform: translateY(0);
  opacity: 1;
}

.gallery-container .light-box__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

.gallery-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  opacity: 0;
  transition: 1.2s ease;
}

.show-btn {
  transform: translateY(0);
  opacity: 1;
}

.gallery-container .light-box__img:hover,
.light-box__img-2:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

@media (max-width: 1024px) {
  .gallery-container {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .gallery {
    padding: 1rem 1rem;
  }

  .gallery-container {
    column-count: 1;
  }
}
