@import "/index/main.css";

.news {
  padding: 5rem 4rem;
}

.news-container {
  min-height: 600px;
  width: 100%;
}

.news-h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--font-color);
  transition: 1s ease;
  transform: translateY(50%);
  opacity: 0;
}

.news-h1__active {
  transform: translateY(0);
  opacity: 1;
}

.news-control {
  min-height: 470px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 3rem;
}

.news-box {
  margin: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  color: #333;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: 0.7s ease;
  transform: translateY(50%);
  opacity: 0;
}

.news-box h3 {
  padding: 0;
}

.news-box:nth-child(2) {
  transition: 1s ease;
}

.news-box:nth-child(3) {
  transition: 1.5s ease;
}

.news-box__active {
  transform: translateY(0);
  opacity: 1;
}

.news-box h3,
p {
  padding: 1rem;
}

.news-box img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.btn-news {
  text-align: center;
}

@media (max-width: 1030px) {
  .news-h1 {
    font-size: 1.3rem;
  }

  .news-box {
    margin: 0.5rem 0;
    height: 95%;
    width: 95%;
  }

  .news-box img {
    height: 50%;
  }
}

@media (max-width: 800px) {
  .news-box {
    margin: 1rem 0;
    height: 95%;
    width: 95%;
  }
}
