@import "../index/main.css";

@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200&family=Raleway:wght@300;400&family=Roboto:wght@300&display=swap");

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/about-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

#header .about-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header .about-h1 h1 {
  font-size: 4rem;
  color: var(--color-white);
  letter-spacing: 2px;
}

.letter {
  color: var(--dark-theme);
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
}

@media screen and (max-width: 800px) {
  #header {
    position: relative;
    height: 100vh;
  }

  #header .about-h1 {
    text-align: center;
  }
}
