@import "/header/mainHeader.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.logo {
  font-size: 3rem;
  font-weight: bolder;
  margin: 1rem;
  white-space: nowrap;
  color: #fff;
  flex-wrap: wrap;
  /*  transform: translateX(-120%);
  transition: 1.2s; */
}

.reveal-logo {
  transform: translateX(0);
}

.nav-links {
  /*  transform: translateX(120%); */
  transition: 1.2s;
  overflow: hidden;
}

.reveal-nav {
  transform: translateX(0%);
}

.nav-links ul {
  display: flex;
  margin: 0rem 1rem;
}

.nav-links ul li {
  margin: 0 0.7rem;
}

.nav-links ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.nav-links ul li a:hover {
  color: rgb(241, 245, 245);
  transition: 0.4s;
}

/* sidebar */
.side-bar {
  display: none;
}

.nav-toggle {
  display: none;
}

/* resposive */

@media screen and (max-width: 800px) {
  .navbar {
    padding: 1rem 0.5rem;
  }

  .logo {
    font-size: 2.5rem;
  }

  .nav-links {
    display: none;
  }

  .nav-link ul li a {
    display: none;
  }

  .nav-toggle {
    display: inline-block;
  }

  /* sidebar */
  .side-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: 1s;
    transform: translate(100%);
  }

  .show-side_bar {
    transform: translate(0);
  }

  .side-bar_links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .side-bar_links ul li {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }

  .side-bar_links ul li a {
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .side-bar_links ul li a:hover {
    color: rgb(188, 194, 194);
    transition: 0.4s;
  }

  /* toggle navbar */
  .nav-toggle {
    color: #fff;
    background: transparent;
    border-color: transparent;
    position: absolute;
    right: 3rem;
    top: 2rem;
    cursor: pointer;
    display: block;
    z-index: 1;
  }

  .nav-toggle i {
    font-size: 2.2rem;
  }

  .hidden {
    display: none;
  }
}

/* scroll link */
.top-link,
.bottom-link {
  font-size: 1.5rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  display: grid;
  place-items: center;
  border-radius: 2px;
  background-color: var(--box-second);
  color: #fff;
  opacity: 0;
  transition: 0.5s ease-in;
}

.top-link_active,
.bottom-link_active {
  opacity: 1;
}
