#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url(../img/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  #header {
    position: relative;
    height: 100vh;
  }
}
